// pagination
.pagination {
    display: flex;
    justify-content: center;
    @include text-style(1.8rem, calc(30/18));
    
  
    &-list {
      display: flex;
      gap: 1rem;
      list-style: none;
      align-items: center;
      @include sp {
        gap: 0.5rem;
      }
    }
  
    &-item {
      a {
        display: block;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        border: 1px solid $color-text;
        text-decoration: none;
        transition: 0.3s;
        @include sp {
            width: 4.4rem;
            height: 4.4rem;
            line-height: 4.4rem;
        }
  
        &:hover {
          background-color: $color-text;
          color: $color-white;
          opacity: 1 !important; 
        }
      }
  
      &.is-current a {
        background-color: $color-text;
        color: $color-white;
        border-color: $color-text;
      }
    }
  
    &-dots {
      padding-inline: 1rem;
      @include sp {
        padding-inline: 0.6rem;
      }
    }
  }

// ブログ一覧
.blog-blog-list__pagination {
    margin-top: 7rem;
    @include sp {
        margin-top: 6rem;
    }
}

// 卒業実績一覧
.result-list__pagination {
    margin-top: 7.5rem;
    @include sp {
        margin-top: 5.8rem;
    }
}


// 検索結果一覧
.search__pagination {
    margin-top: 7rem;
    margin-bottom: 14.8rem;
    @include sp {
        margin-top: 6rem;
        margin-bottom: 14.5rem;
    }
}